<%- include('partials/header') %>

    <div class="destination_banner_wrap overlay">
        <div class="destination_text text-center">
            <h3>Saintmartine Iceland</h3>
            <p>Pixel perfect design with awesome contents</p>
        </div>
    </div>

    <div class="destination_details_info">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-9">
                   
                    <div class="bordered_1px"></div>
                    <div class="contact_join">
                        <h3>Request booking</h3>
                        <form class="search_form" action="#">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="First Name *" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="Last Name *" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="Phone no. * " required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="Email *" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="Travel Time Frame *" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="Flying From *" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="Destination of Interest *" required>
                                    </div>
                                </div>

                                <!-- <div class="col-lg-6 col-md-6 search_wrap">
                                     <div class="single_input">
                                       <select>
                                        <option data-display="Travel Time Frame"></option>
                                        <option value="1">0-3 months</option>
                                        <option value="2">3-6 months</option>
                                        <option value="3">6-9 months</option>
                                        <option value="4">9-12 months</option>
                                        <option value="5">+12 months</option>
                                       </select>
                                     </div>
                                 </div> -->

                                 <!-- <div class="col-lg-6 col-md-6 search_wrap">
                                    <div class="single_input">
                                      <select>
                                       <option data-display="Select Your State"></option>
                                       <option value="1">MN</option>
                                       <option value="2">CA</option>
                                       <option value="3">WI</option>
                                       <option value="4">NY</option>
                                       <option value="5">PA</option>
                                      </select>
                                    </div>
                                </div> -->

                               <!-- <div class="col-lg-6 col-md-6 search_wrap">
                                <div class="single_input">
                                    <select>
                                     <option data-display="Destination of interest"></option>
                                     <option value="1">MN</option>
                                     <option value="2">CA</option>
                                     <option value="3">WI</option>
                                     <option value="4">NY</option>
                                     <option value="5">PA</option>
                                    </select>
                                  </div>
                                </div> -->

                                <div class="col-lg-12">
                                    <div class="single_input">
                                        <textarea name="" id="" cols="30" rows="10"placeholder="Tell me more" ></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="submit_btn">
                                        <button class="boxed-btn4" type="submit">submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- newletter_area_start  -->
    <div class="newletter_area overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-10">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="newsletter_text">
                                <h4>Subscribe Our Newsletter</h4>
                                <p>Subscribe newsletter to get offers and about
                                    new places to discover.</p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="mail_form">
                                <div class="row no-gutters">
                                    <div class="col-lg-9 col-md-8">
                                        <div class="newsletter_field">
                                            <input type="email" placeholder="Your mail" >
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4">
                                        <div class="newsletter_btn">
                                            <button class="boxed-btn4 " type="submit" >Subscribe</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- newletter_area_end  -->


<%- include('partials/footer') %> 
    