<%- include('partials/header') %>

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <!-- <h3>Ethiopia</h3> -->
                                <!-- <a href="#" class="boxed-btn3">Explore Now</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <!-- <h3>Australia</h3>
                                <p>Pixel perfect design with awesome contents</p> -->
                                <!-- <a href="#" class="boxed-btn3">Explore Now</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_3 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <!-- <h3>Switzerland</h3>
                                <p>Pixel perfect design with awesome contents</p> -->
                                <!-- <a href="#" class="boxed-btn3">Explore Now</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--Delta-->
            <div class="single_slider  d-flex align-items-center slider_bg_4 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <!-- <h3>Switzerland</h3>
                                <p>Pixel perfect design with awesome contents</p> -->
                                <!-- <a href="#" class="boxed-btn3">Explore Now</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--KLM-->
            <div class="single_slider  d-flex align-items-center slider_bg_5 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <!-- <h3>Switzerland</h3>
                                <p>Pixel perfect design with awesome contents</p> -->
                                <!-- <a href="#" class="boxed-btn3">Explore Now</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- America-->
            <div class="single_slider  d-flex align-items-center slider_bg_6 overlay">
                <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <!-- <h3>Switzerland</h3>
                            <p>Pixel perfect design with awesome contents</p> -->
                            <!-- <a href="#" class="boxed-btn3">Explore Now</a> -->
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <!-- Lufthaisa-->
        <div class="single_slider  d-flex align-items-center slider_bg_7 overlay">
                <div class="container">
                <div class="row align-items-center">
                <div class="col-xl-12 col-md-12">
                <div class="slider_text text-center">
                    <!-- <h3>Switzerland</h3>
                    <p>Pixel perfect design with awesome contents</p> -->
                    <!-- <a href="#" class="boxed-btn3">Explore Now</a> -->
                </div>
                </div>
            </div>
            </div>
            </div>

        </div>

    </div>
    <!-- slider_area_end -->

    
    <!-- popular_destination_area_start  -->
    <div class="popular_destination_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Vacation Destination</h3>
                        <p>Need some inspiration to plan your next trip? Plan the ultimate vacation at our top popular destination vacation spots around the world.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/12.jpg" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">The Caribbean  <a href="https://www.visitjamaica.com/">  01 Places</a> </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/23.jpg" alt="">
                        </div>
                        <div class="content">
                            <!-- <p class="d-flex align-items-center">Mexico </p> -->
                            <p class="d-flex align-items-center">Mexico  <a href="https://www.visitmexico.com/">  02 Places</a> </p>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/33.jpg" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Europe   <a href="https://visiteurope.com/en/">  03 Places</a> </p>  
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/44.jpg" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Hawaii   <a href="https://www.gohawaii.com/">  04 Places</a> </p> 
                            <!-- <p class="d-flex align-items-center">Hawaii  </p> -->
                            
                        </div>
                    </div>
                </div>
               

                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/99.jpg" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Israel<a href="https://www.touristisrael.com/">  05 Places</a> </p> 
                            <!-- <p class="d-flex align-items-center">Israel  </p>  -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/usa.jpg" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">USA<a href="https://www.visittheusa.com/">  06 Places</a> </p>     
                            <!-- <p class="d-flex align-items-center">USA</p> -->
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/77.jpg" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Africa / Safaris<a href="https://adventuresinafrica.com/destinations/">  07 Places</a> </p>  
                            <!-- <p class="d-flex align-items-center">Africa / Safaris  </p>  -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/aus.jpg" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Australia<a href="https://www.australia.com/en-us">  08 Places</a> </p>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="img/destination/eth.jpg" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Ethiopia<a href="https://www.lonelyplanet.com/ethiopia">  09 Places</a> </p> 
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="video_area video_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video_wrap text-center">
                        <h3>Enjoy Video</h3>
                        <div class="video_icon">
                            <a class="popup-video video_play_button" href="https://www.youtube.com/watch?v=DoouZNdI5Ro">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="travel_variation_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="img/svg_icon/1.svg" alt="">
                        </div>
                        <h3>Comfortable Journey</h3>
                        <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="img/svg_icon/2.svg" alt="">
                        </div>
                        <h3>Luxuries Hotel</h3>
                        <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="img/svg_icon/3.svg" alt="">
                        </div>
                        <h3>Travel Guide</h3>
                        <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                    </div>
                </div>
            </div>
            <div class="story_thumb">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="thumb">
                            <img src="img/creditcard_r.png" alt="">
                        </div>
                    <!-- </div>
                    <div class="col-lg-6 col-md-6"> -->
                        <div class="thumb">
                            <img src="img/bbb_r.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
   
<%- include('partials/footer') %>   